#!/usr/bin/env bash

#create a new directory and enter it
function md() {
    mkdir -p "$@" && "$@"

}

#function code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCodeInsiders" --args $*; }

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

function myTest () {
    echo "Test worked"
}